@page "/contacts"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using CFCRMCommon.Models
@using CFCRM.Data
@implements IAsyncDisposable
@inject IDbContextFactory<CFCRM.Data.CFCRMContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="contacts/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Contact">
    <PropertyColumn Property="contact => contact.FirstName" />
    <PropertyColumn Property="contact => contact.LastName" />
    <PropertyColumn Property="contact => contact.JobTitle" />
    <PropertyColumn Property="contact => contact.JobTypeId" />
    <PropertyColumn Property="contact => contact.Email" />
    <PropertyColumn Property="contact => contact.Notes" />
    <PropertyColumn Property="contact => contact.AccountId" />
    <PropertyColumn Property="contact => contact.Active" />

    <TemplateColumn Context="contact">
        <a href="@($"contacts/edit?id={contact.Id}")">Edit</a> |
        <a href="@($"contacts/details?id={contact.Id}")">Details</a> |
        <a href="@($"contacts/delete?id={contact.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private CFCRMContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
